.item{
    width: 110px;
    background-color: rgba(195, 195, 195,0.05);
    border-radius: 50px;
    border: 1px solid rgba(195, 195, 195,0.2);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 10px 20px;
}
.item img{
    width: 60%;
}

.amount{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 1.3em;
    align-items: center;
}

.amount-value{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(105, 0, 198, 0.08);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.amount-value:hover{
    background-color: rgba(105, 0, 198, 0.2);
    transition: .3s;
}